<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620897060016-obvn7mha47mncp073qiq0bc9nl57kra7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620897060016-obvn7mha47mncp073qiq0bc9nl57kra7</string>
	<key>API_KEY</key>
	<string>AIzaSyDSV0T9PrWczf-6BwMlv4XRrATYygnQVuc</string>
	<key>GCM_SENDER_ID</key>
	<string>620897060016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.valet</string>
	<key>PROJECT_ID</key>
	<string>one-button-63ff9</string>
	<key>STORAGE_BUCKET</key>
	<string>one-button-63ff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620897060016:ios:9c17210a5c93684e1c6775</string>
	<key>DATABASE_URL</key>
	<string>https://one-button-63ff9-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>